<style>
  @import
  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
  * { font-family: Poppins, system-ui; padding: 0px; margin: 0px; }
</style>
<div
  class='container-content'
  style='display: flex;align-items: center;justify-content: center;'
>
  <div
    class='card'
    style='border-radius: 10px;background-color: white;box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);text-align: center;padding: 40px 30px; width: auto;'
  >
    <div class='card-header' style='width:100%'>
      <h1>
        <strong>Hola {{name}}</strong>
      </h1>
    </div>
    <div class='card-body'>
      <h2 class='my-3' style='margin: 30px 0px;'>Un satelite Lansat esta pasa
        cerca de ti dentro de poco tiempo, estate al pendiente</h2>
      <p style='padding: 0px; margin: 0px;'>Pasara dentro de 2 días, asi que
        recuenda obtener los ultimos resultados del satelite, tu latitud es:
        {{latitude}}
        y la longitud:
        {{longitude}}</p>

    </div>
  </div>
</div>